<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Novo Administrador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/tutorPage.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>NOVO ADMINISTRADOR</h2>
        <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post">
            <p><span>*</span> Campos Obrigatórios</p>
            <div class="row">
                <div class="col-md-6">
                    <label for="nome">Nome Completo <span>*</span></label>
                    <input type="text" id="nome" class="form-control" th:field="*{nome}" required>
                </div>
                <div class="col-md-6">
                    <label for="username">Username <span>*</span></label>
                    <input type="text" id="username" class="form-control" th:field="*{username}" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="password">Senha <span>*</span></label>
                    <input type="password" id="password" class="form-control" th:field="*{password}" required>
                </div>

                <div class="col-md-6">
                    <label for="email">Email <span>*</span></label>
                    <input type="email" id="email" class="form-control" th:field="*{email}" required>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="telefone">Telefone <span>*</span></label>
                    <input type="text" id="telefone" class="form-control" th:field="*{telefone}" required>
                </div>

                <div class="col-md-6">
                    <label for="dataCadastro">Data de Cadastro <span>*</span></label>
                    <input type="date" id="dataCadastro" class="form-control" th:field="*{dataCadastro}" required>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 text-end">
                    <button type="submit" class="button-next">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
