<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Tutor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/tutorPage.css" rel="stylesheet">
</head>
<body>
<script src="/js/tutorPage.js"></script>
<div class="container mt-5">
  <h2 class="mb-4">IDENTIFICAÇÃO DO TUTOR</h2>
  <p><span>*</span> - Campos Obrigatórios</p>
  <form th:action="@{/tutores/salvar}" th:object="${tutor}" method="post" class="row g-3">

      <div class="col-md-6">
        <label for="nome" class="form-label">Nome Completo<span> *</span></label>
        <input type="text" class="form-control" id="nome" th:field="*{nome}" required>
      </div>

      <div class="col-md-6">
        <label for="celular" class="form-label">Telefone<span> *</span></label>
        <input type="text" class="form-control" id="celular" th:field="*{celular}" required>
      </div>

      <div class="col-md-6">
        <label for="cpf" class="form-label">CPF <span> *</span></label>
        <input type="text" class="form-control" id="cpf" th:field="*{cpf}" required>
      </div>

      <div class="col-md-6">
        <label for="rg" class="form-label">RG <span> *</span></label>
        <input type="text" class="form-control" id="rg" th:field="*{rg}" required>
      </div>

      <div class="col-md-6">
        <label for="dataNascimento" class="form-label">Data de Nascimento <span> *</span></label>
        <input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}" required>
      </div>

      <div class="col-md-6">
        <label for="naturalidade" class="form-label">Naturalidade <span> *</span></label>
        <input type="text" class="form-control" id="naturalidade" th:field="*{naturalidade}" required>
      </div>

      <div class="col-md-6">
        <label for="estadoCivil" class="form-label">Estado Civil <span> *</span></label>
        <select class="form-select" id="estadoCivil"  required>
          <option value="">Selecione</option>
          <option value="Solteiro">Solteiro</option>
          <option value="Casado">Casado</option>
          <option value="Divorciado">Divorciado</option>
          <option value="Viúvo">Viúvo</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="nomeMarido" class="form-label">Nome do Cônjuge</label>
        <input type="text" class="form-control" id="nomeMarido" name="nomeMarido">
      </div>

      <div class="col-md-6">
        <label for="temFilhos" class="form-label">Filhos <span style="color: red;">*</span></label>
        <select class="form-select" id="temFilhos" th:field="*{temFilhos}" required>
          <option value="">Selecione</option>
          <option value="Sim">Sim</option>
          <option value="Não">Não</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="quantidadeFilhos" class="form-label">Quantidade de Filhos</label>
        <select class="form-select" id="quantidadeFilhos" name="quantidadeFilhos">
          <option value="">Selecione</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5+">5 ou mais</option>
        </select>
      </div>

      <div class="col-12 text-end">
        <button type="submit" class="button-next">Próximo</button>
      </div>
  </form>
</div>

<div class="divider-line"></div>

<div class="container mt-5">
  <h2 class="mb-4">DADOS SOCIOECONÔMICOS</h2>
  <p><span>*</span> - Campos Obrigatórios</p>
  <form th:action="@{/tutores/salvar}" th:object="${tutor}" method="post" class="row g-3">

    <div class="col-md-6">
      <label for="nome" class="form-label">Nome Completo<span> *</span></label>
      <input type="text" class="form-control" id="nome" th:field="*{nome}" required>
    </div>

    <div class="col-md-6">
      <label for="celular" class="form-label">Telefone<span> *</span></label>
      <input type="text" class="form-control" id="celular" th:field="*{celular}" required>
    </div>

    <div class="col-md-6">
      <label for="cpf" class="form-label">CPF <span> *</span></label>
      <input type="text" class="form-control" id="cpf" th:field="*{cpf}" required>
    </div>

    <div class="col-md-6">
      <label for="rg" class="form-label">RG <span> *</span></label>
      <input type="text" class="form-control" id="rg" th:field="*{rg}" required>
    </div>

    <div class="col-md-6">
      <label for="dataNascimento" class="form-label">Data de Nascimento <span> *</span></label>
      <input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}" required>
    </div>

    <div class="col-md-6">
      <label for="naturalidade" class="form-label">Naturalidade <span> *</span></label>
      <input type="text" class="form-control" id="naturalidade" th:field="*{naturalidade}" required>
    </div>

    <div class="col-md-6">
      <label for="estadoCivil" class="form-label">Estado Civil <span> *</span></label>
      <select class="form-select" id="estadoCivil"  required>
        <option value="">Selecione</option>
        <option value="Solteiro">Solteiro</option>
        <option value="Casado">Casado</option>
        <option value="Divorciado">Divorciado</option>
        <option value="Viúvo">Viúvo</option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="nomeMarido" class="form-label">Nome do Cônjuge</label>
      <input type="text" class="form-control" id="nomeMarido" name="nomeMarido">
    </div>

    <div class="col-md-6">
      <label for="temFilhos" class="form-label">Filhos <span style="color: red;">*</span></label>
      <select class="form-select" id="temFilhos" th:field="*{temFilhos}" required>
        <option value="">Selecione</option>
        <option value="Sim">Sim</option>
        <option value="Não">Não</option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="quantidadeFilhos" class="form-label">Quantidade de Filhos</label>
      <select class="form-select" id="quantidadeFilhos" name="quantidadeFilhos">
        <option value="">Selecione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5+">5 ou mais</option>
      </select>
    </div>

    <div class="col-12 text-end">
      <button type="submit" class="button-next">Próximo</button>
    </div>
  </form>
</div>



</body>
</html>
