<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script th:src="@{js/mainPage.js}"></script>

<header>
    <a href="https://imepac.edu.br" target="_blank">
        <img th:src="@{img/logo-imepac-branca.png}" class="logo" alt="Logo Instituição Imepac">
    </a>
    <div class="user-div">
        <p th:text="${nomeUsuario}">Placeholder</p>
        <img th:src="@{img/mainPage/user-icon.png}" alt="Ícone Usuário">
    </div>
</header>

<div class="center-div">
    <section class="menu-bar">
        <div class="menu-options-container">
            <div class="menu-item">
                <a href="#" class="menu-link active" onclick="mostrarSecao('visao-geral-section', this)">
                    <img th:src="@{img/mainPage/visao-geral-icon.png}" alt="Icone da sessão visão geral">
                    <p>Visão Geral</p>
                </a>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-link" onclick="mostrarSecao('administradores-section', this)">
                    <img th:src="@{/img/mainPage/admin-icon.png}" alt="Icone da sessão de administradores">
                    <p>Administradores</p>
                </a>
            </div>
        </div>
        <form th:action="@{/usuarios/logout}" method="post" class="quitBtn">
            <button type="submit" style="all: unset; cursor: pointer;">
                <img th:src="@{/img/mainPage/quit.png}" alt="Sair">
            </button>
        </form>
        <a href="#" class="helpBtn">
            <img src="/img/mainPage/question-icon.png">
        </a>
    </section>

    <section id="initial-section" class="initial-section">
    </section>

    <section id="visao-geral-section" class="table-section hidden">
        <div class="filter-section-container">
            <div class="filter-div">
                <input id="filtro-nome-tutor" placeholder="Digite o nome do tutor">
                <button id="botao-filtrar-nome">Filtrar</button>
            </div>
        </div>

        <table class="table-cadastro">
            <thead>
            <tr>
                <th>ID</th>
                <th>Data de Nascimento</th>
                <th>Nome</th>
                <th>Status</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Celular</th>
            </tr>
            </thead>
            <tbody id="tabela-tutores-body">
            <tr th:each="tutor : ${tutores}">
                <td th:text="${tutor.id}">1</td>
                <td th:text="${#dates.format(tutor.dataNascimento, 'dd/MM/yyyy')}">01/01/2000</td>
                <td th:text="${tutor.nome}">João</td>
                <td th:text="${tutor.status}">Solteiro</td>
                <td th:text="${tutor.cpf}">000.000.000-00</td>
                <td th:text="${tutor.rg}">MG-12.345.678</td>
                <td th:text="${tutor.celular}">(00) 91234-5678</td>
            </tr>
            </tbody>
        </table>
    </section>

    <section id="administradores-section" class="table-section hidden">

        <div class="filter-div">
            <input placeholder="Digite o nome do administrador">
            <button>Filtrar</button>
        </div>

        <table class="table-cadastro">
            <thead>
            <tr>
                <th>ID Admin</th>
                <th>Data Cadastro</th>
                <th>Nome</th>
                <th>Usuário</th>
                <th>Email do responsável</th>
                <th>Telefone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="admin : ${admins}">
                <td th:text="'#' + ${admin.id}">#001</td>
                <td th:text="${admin.dataCadastro}">29/04</td>
                <td th:text="${admin.nome}">Cadastro 001</td>
                <td th:text="${admin.usuario}">Matheus felipe</td>
                <td th:text="${admin.emailResponsavel}">cadastroteste@gmail.com</td>
                <td th:text="${admin.telefone}">(12) 34567-8910</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>

<a href="#" id="btn-relatorio" class="botao-fixo botao-relatorio" onclick="exportarTabela()">
    <img th:src="@{/img/mainPage/relatorio-icon.png}" alt="Botão fazer relatório">
</a>

<a href="#" id="btn-deletar" class="botao-fixo botao-deletar">
    <img th:src="@{/img/mainPage/delete-icon.png}" alt="Botão deletar cadastro">
</a>

<a href="#" id="btn-editar" class="botao-fixo botao-atualizar" onclick="editarTutorSelecionado()">
    <img th:src="@{/img/mainPage/atualizar-icon.png}" alt="Botão atualizar cadastro">
</a>

<a href="#" class="botao-fixo" onclick="abrirPopup()">
    <img th:src="@{/img/mainPage/plus-icon.png}" alt="Botão fazer novo cadastro">
</a>

</body>
</html>
